@import "@/styles/globals";

.header {
  background-color: $primary-color;
  color: $light-color;
  padding: 1rem;

  &__nav {
    @include flex-space;
    gap: 1rem;

    a {
      text-decoration: none;
      color: $light-color;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
