@import "@/styles/globals";

.input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  @include button-style($primary-color, $light-color);
  margin-top: 1rem;
}
